@keyframes ldio-b8rvto7pcjq {
  0% {transform: translate(-50%, -50%) rotate(0deg);}
  100% {transform: translate(-50%,-50%) rotate(360deg);}
}
.ldio-b8rvto7pcjq div {
  position: absolute;
  width: 54px;
  height: 54px;
  border: 18px solid #57ee06;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-b8rvto7pcjq div {
  animation: ldio-b8rvto7pcjq 0.6097560975609756s linear infinite;
  top: 50px;
  left: 50px
}
.loadingio-spinner-rolling-ybon1mpz5gc {
  width: 71px;
  height: 71px;
  overflow: hidden;
  background: none;
  display: inline-block;
}
.ldio-b8rvto7pcjq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.71);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-b8rvto7pcjq div {box-sizing: content-box;}